{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Ventas</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
</head>

<body>
    <header>
        <div class="alert text-center display-2" role="alert">
            <strong>Tienda Mi Cosito</strong>
        </div>
    </header>
    <br>
    <main>
        <h2 class="text-center">Reporte de Ventas</h2>
        <table id="tablaReporte" class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Precio unitario</th>
                    <th>Valor total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Otras filas de la tabla aquí -->
            </tbody>
        </table>
        <hr>
        <div class="button-container">
            <button id="btnAgregarVenta" class="ms-5 btn btn-primary">Agregar</button>
            <button id="btnExportar" class="ms-2 btn btn-primary">Exportar</button>
            <input type="file" id="fileInput" style="display: none;" accept=".csv">
            <button id="btnImportar" class="ms-2 btn btn-primary">Importar</button>
        </div>
        <br>
        {% url 'home' as home_url %}
        <button onclick="window.location.href = '{{ home_url }}'" class="ms-5 btn btn-primary">Regresar</button>

        <div class="ms-5">
            <div class="modal fade" id="modalVenta" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar Venta</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal">cerrar</button>
                        </div>
                        <div class="modal-body">
                            <form id="formularioVentaModal">
                                <label for="fechaVenta">Fecha:</label>
                                <input type="date" id="fechaVenta" required>

                                <label for="cantidadVenta">Cantidad:</label>
                                <input type="number" id="cantidadVenta" required>

                                <label for="precioVenta">Precio unitario:</label>
                                <input type="number" id="precioVenta" required oninput="calcularValorTotalVenta()">

                                <label for="valorTotalVenta">Valor total:</label>
                                <input type="number" id="valorTotalVenta" readonly>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnCerrarVenta" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary"
                                onclick="agregarEditarVenta()">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function limpiarFormularioVenta() {
                document.getElementById("formularioVentaModal").reset();
                document.getElementById("btnAgregarVenta").textContent = "Agregar";
            }

            function mostrarFormularioVenta() {
                limpiarFormularioVenta();

                var modalElement = document.getElementById('modalVenta');
                var modalVenta = bootstrap.Modal.getInstance(modalElement);

                if (modalVenta) {
                    modalVenta.dispose();
                }

                modalVenta = new bootstrap.Modal(modalElement);
                modalVenta.show();
            }

            function ocultarFormularioVenta() {
                limpiarFormularioVenta()
            }

            document.getElementById('btnCerrarVenta').addEventListener('click', ocultarFormularioVenta());

            document.getElementById("btnAgregarVenta").addEventListener("click", function () {
                mostrarFormularioVenta();
            });

            function calcularValorTotalVenta() {
                const cantidadInput = document.getElementById("cantidadVenta");
                const precioInput = document.getElementById("precioVenta");
                const valorTotalInput = document.getElementById("valorTotalVenta");

                const cantidad = cantidadInput.value;
                const precio = precioInput.value;

                if (!isNaN(cantidad) && !isNaN(precio)) {
                    const valorTotal = cantidad * precio;
                    valorTotalInput.value = valorTotal.toFixed(2);
                } else {
                    valorTotalInput.value = "";
                }
            }

            function agregarEditarVenta() {
                const formularioVenta = document.getElementById("formularioVentaModal");
                const fechaVenta = formularioVenta.querySelector("#fechaVenta").value;
                const cantidadVenta = formularioVenta.querySelector("#cantidadVenta").value;
                const precioVenta = formularioVenta.querySelector("#precioVenta").value;
                const valorTotalVenta = formularioVenta.querySelector("#valorTotalVenta").value;

                if (fechaVenta && cantidadVenta && precioVenta && valorTotalVenta) {
                    const tbody = document.querySelector("#tablaReporte tbody");
                    const filaEditando = tbody.querySelector(".editando");

                    if (filaEditando) {
                        const celdas = filaEditando.getElementsByTagName("td");
                        celdas[0].textContent = fechaVenta;
                        celdas[1].textContent = cantidadVenta;
                        celdas[2].textContent = precioVenta;
                        celdas[3].textContent = valorTotalVenta;
                        filaEditando.classList.remove("editando");
                    } else {
                        const fila = document.createElement("tr");
                        const celdas = [fechaVenta, cantidadVenta, precioVenta, valorTotalVenta];

                        celdas.forEach((dato) => {
                            const celda = document.createElement("td");
                            celda.textContent = dato;
                            fila.appendChild(celda);
                        });

                        const botonEditar = document.createElement("button");
                        botonEditar.textContent = "Editar";
                        botonEditar.classList.add("btn", "btn-primary");
                        botonEditar.addEventListener("click", function () {
                            editarVenta(fila);
                        });

                        const botonEliminar = document.createElement("button");
                        botonEliminar.textContent = "Eliminar";
                        botonEliminar.classList.add("btn", "btn-danger");
                        botonEliminar.addEventListener("click", function () {
                            eliminarVenta(fila);
                        });

                        const celdaBotones = document.createElement("td");
                        celdaBotones.appendChild(botonEditar);
                        celdaBotones.appendChild(botonEliminar);
                        fila.appendChild(celdaBotones);

                        tbody.appendChild(fila);
                    }

                    limpiarFormularioVenta();
                    ocultarFormularioVenta();
                } else {
                    alert("Por favor, complete todos los campos del formulario.");
                }
            }

            function editarVenta(fila) {
                fila.classList.add("editando");

                const celdas = fila.getElementsByTagName("td");
                const fechaVenta = celdas[0].textContent;
                const cantidadVenta = celdas[1].textContent;
                const precioVenta = celdas[2].textContent;
                const valorTotalVenta = celdas[3].textContent;

                document.getElementById("fechaVenta").value = fechaVenta;
                document.getElementById("cantidadVenta").value = cantidadVenta;
                document.getElementById("precioVenta").value = precioVenta;
                document.getElementById("valorTotalVenta").value = valorTotalVenta;

                document.getElementById("btnAgregarVenta").textContent = "Guardar";
                mostrarFormularioVenta();
            }

            function eliminarVenta(fila) {
                const confirmacion = confirm("¿Estás seguro de que deseas eliminar esta venta?");
                if (confirmacion) {
                    fila.remove();
                }
            }

            function exportarCSV() {
                const tabla = document.getElementById("tablaReporte");
                const filas = tabla.querySelectorAll("tbody tr");

                let csv = "Fecha,Cantidad,Precio unitario,Valor total\n";

                filas.forEach((fila) => {
                    const fechaVenta = fila.cells[0].textContent;
                    const cantidadVenta = fila.cells[1].textContent;
                    const precioVenta = fila.cells[2].textContent;
                    const valorTotalVenta = fila.cells[3].textContent;
                    csv += `${fechaVenta},${cantidadVenta},${precioVenta},${valorTotalVenta}\n`;
                });

                const enlace = document.createElement("a");
                enlace.href = "data:text/csv;charset=utf-8," + encodeURI(csv);
                enlace.target = "_blank";
                enlace.download = "reporte_ventas.csv";
                enlace.click();
            }

            function procesarArchivoCSV(archivo) {
                const lector = new FileReader();
                lector.onload = function (e) {
                    const contenido = e.target.result;

                    Papa.parse(contenido, {
                        header: true,
                        complete: function (result) {
                            const nuevosDatos = result.data;

                            const tbody = document.querySelector("#tablaReporte tbody");

                            nuevosDatos.forEach((nuevoDato) => {
                                const fila = document.createElement("tr");

                                const celdas = ["Fecha", "Cantidad", "Precio unitario", "Valor total"];
                                celdas.forEach((columna) => {
                                    const celda = document.createElement("td");
                                    celda.textContent = nuevoDato[columna];
                                    fila.appendChild(celda);
                                });

                                const botonEditar = document.createElement("button");
                                botonEditar.textContent = "Editar";
                                botonEditar.classList.add("btn", "btn-primary");
                                botonEditar.addEventListener("click", function () {
                                    editarVenta(fila);
                                });

                                const botonEliminar = document.createElement("button");
                                botonEliminar.textContent = "Eliminar";
                                botonEliminar.classList.add("btn", "btn-danger");
                                botonEliminar.addEventListener("click", function () {
                                    eliminarVenta(fila);
                                });

                                const celdaBotones = document.createElement("td");
                                celdaBotones.appendChild(botonEditar);
                                celdaBotones.appendChild(botonEliminar);
                                fila.appendChild(celdaBotones);

                                tbody.appendChild(fila);
                            });
                        },
                    });
                };

                lector.readAsText(archivo);
            }

            document.addEventListener("DOMContentLoaded", function () {
                const btnExportar = document.getElementById("btnExportar");
                const btnImportar = document.getElementById("btnImportar");
                const fileInput = document.getElementById("fileInput");

                btnExportar.addEventListener("click", exportarCSV);

                btnImportar.addEventListener("click", function () {
                    fileInput.click();
                });

                fileInput.addEventListener("change", function () {
                    const archivo = fileInput.files[0];
                    if (archivo) {
                        procesarArchivoCSV(archivo);
                    }
                });
            });
        </script>
    </main>
</body>

</html>